<!DOCTYPE HTML>
<html>

  <head>
    <title>{% if page.title %} {{ page.title }}
    {% else %} {{ site.name }} &mdash; {{ site.description }}
          {% endif %}
    </title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <!-- modernizr enables HTML5 elements and feature detects -->
    <script type="text/javascript" src="js/modernizr-1.5.min.js"></script>
  </head>

  <body>
    <div id="main">
      <header>
        <div id="logo">
          <div id="logo_text">
            <!-- class="logo_colour", allows you to change the colour of the text -->
            <h1><a href="/index.html">Scott & Maddie's Wedding<span class="logo_colour"></span></a></h1>
            <h2>August 8th, 2015</h2>
          </div>
        </div>
        <nav>
          <ul class="sf-menu" id="nav">
            <li class=""><a href="/index.html">Home</a></li>
            <li><a href="/our_story.html">Our Story</a></li>
            <li><a href="/accomodations.html">Accomodations</a></li>
            <li><a href="http://www.myregistry.com/wedding-registry/Scott-Shepard-Madison-Jennings-Chicago-IL/793308">Registry</a></li>
            <li><a href="/contact.html">Contact Us</a></li>
          </ul>
        </nav>
      </header>
      <div id="site_content">
        <ul id="images">
          <li><img src="/img/1.jpg" width="600" height="300" alt="photo_one" /></li>
          <li><img src="/img/2.jpg" width="600" height="300" alt="photo_two" /></li>
          <li><img src="/img/3.jpg" width="600" height="300" alt="photo_three" /></li>
          <li><img src="/img/4.jpg" width="600" height="300" alt="photo_four" /></li>
          <li><img src="/img/5.jpg" width="600" height="300" alt="photo_five" /></li>
          <li><img src="/img/6.jpg" width="600" height="300" alt="photo_photo" /></li>
        </ul>
        <div id="sidebar_container">
          <div class="sidebar">
            <h3>Latest News</h3>
            <h4>New Website Launched</h4>
            <h5>January 1st, 2012</h5>
            <p>2012 sees the redesign of our website. Take a look around and let us know what you think.<br /><a href="#">Read more</a></p>
          </div>
        </div>
      <div class="content">

        {{ content }}
        
      </div>    
    </div>

    <footer>
      <p>Copyright &copy; CSS3_photo | <a href="http://www.css3templates.co.uk">design from css3templates.co.uk</a></p>
    </footer>
    
    <p>&nbsp;</p>
    <!-- javascript at the bottom for fast page loading -->
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/jquery.easing-sooper.js"></script>
    <script type="text/javascript" src="js/jquery.sooperfish.js"></script>
    <script type="text/javascript" src="js/jquery.kwicks-1.5.1.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $('#images').kwicks({
          max : 600,
          spacing : 2
        });
        $('ul.sf-menu').sooperfish();
      });
    </script>
  </body>
</html>
